.body {
  position: relative;
}

.button-div {
  border: 1px solid white;
  width: 100px;
  height: 100px;
}

.div-wrapper {
  display: flex;
}

.blue {
  background-color: blue;
  width: 100px;
  height: 100px;
}

.orange {
  background-color: orange;
  width: 100px;
  height: 100px;
}

.yellow {
  background-color: yellow;
  width: 100px;
  height: 100px;
}

.div {
  width: 100px;
  height: 100px;
}

.color-change-wrapper {
  display: flex;
}

.color__change-box, .corner {
  width: 200px;
  height: 200px;
  border: solid 1px white;
}

.corner {
  position: absolute;
  top: 0;
  right: 0;
}